.container {
  width: 100vw;
  height: 100vh;
  padding-top: 2%;
  border: 1px solid #75706f;
  // text-align: center;
}

.sidenav{
  padding: 2%;
  width: 25vw;
}

.text{
  margin: 5%;
}

mat-icon{
  padding-top:1%;
}